<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Sal Pred API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Salary Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="AtBat" placeholder="AT Bat" required="required" />
        <input type="text" name="Hits" placeholder="Number of Hits" required="required" />
		<input type="text" name="HmRun" placeholder="HmRuns" required="required" />
		<input type="text" name="Runs" placeholder="Runs Scored" required="required" />
		<input type="text" name="RBI" placeholder="RBI Scored" required="required" />
		<input type="text" name="Walks" placeholder="Total Walks" required="required" />
		<input type="text" name="Years" placeholder="Expr in Years" required="required" />
		<input type="text" name="CAtBat" placeholder="CAtBat" required="required" />
		<input type="text" name="CHits" placeholder="CHits" required="required" />
		<input type="text" name="CHmRun" placeholder="CHmRun" required="required" />
		<input type="text" name="CRuns" placeholder="CRuns" required="required" />
		<input type="text" name="CRBI" placeholder="CRBI" required="required" />
		<input type="text" name="CWalks" placeholder="CWalks" required="required" />
		<input type="text" name="PutOuts" placeholder="PutOuts" required="required" />
		<input type="text" name="Assists" placeholder="Assists" required="required" />
		<input type="text" name="Errors" placeholder="Errors" required="required" />
		<input type="text" name="League" placeholder="League_N(0 or 1)" required="required" />
		<input type="text" name="Division" placeholder="Division_W(0 or 1)" required="required" />
		<input type="text" name="NewLeague" placeholder="NewLeague_N(0 or 1)" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
